<header>
  <div class="bg__event header-box">
    <img src="" alt="logo" class="logo" />
  </div>
  <div class="container header-box">
    <h1>FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="header__inputs">
      <input type="text" placeholder="Start searching" class="header__input" />
      <div class="country-dropdown">
        <div class="country-selected">Choose country</div>
        <div class="country-menu">
          <div data-country="">Всі країни</div>
          <div data-country="United States Of America">United States Of America</div>
          <div data-country="Canada">Canada</div>
          <div data-country="Great Britain">Great Britain</div>
        </div>
      </div>

    </div>
  </div>
</header>
