<div class="container">
  <div class="backdrop">
    <div class="modal">
      <button type="button" class="close-btn">X</button>
      <div class="event-logo"></div>
      <div class="modal-info-box">
        <div class="modal-big-logo"></div>
        <!-- <img src="#" class="modal-big-logo" /> -->
        <div class="modal-text">
          <h3 class="modal-h3">INFO</h3>
          <p class="modal-info modal-about">
            Atlas Weekend is the largest music festival in Ukraine.More than 200
            artists will create a proper music festival atmosphere on 10 stages
          </p>

          <h3 class="modal-h3">WHEN</h3>
          <p class="modal-info modal-date">2021-06-09</p>

          <h3 class="modal-h3">WHERE</h3>
          <p class="modal-info modal-place">Kyiv, Ukraine</p>

          <h3 class="modal-h3">WHO</h3>
          <p class="modal-info modal-name">The Black Eyed Peas</p>

          <h3 class="modal-h3">PRICES</h3>
          <p class="modal-info">
            <img
              src="../img/ticket1.png"
              alt="logo"
              width="29"
              height="19"
              class="modal-quarcode"
            />
            Standart 100-$200
          </p>
          <button class="modal-buy-tickets" type="button">BUY TICKETS</button>

          <p class="modal-info">
            <img
              src="../img/ticket1.png"
              alt="logo"
              width="29"
              height="19"
              class="modal-quarcode"
            />
            VIP 300-$1000
          </p>

          <button class="modal-buy-tickets" type="button">BUY TICKETS</button>
        </div>
      </div>

      <button class="modal-more" type="button">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
